<h1>Edit Product</h1>

<form action="<%= resource(@product) %>" method="POST">
  <input type="hidden" name="_method" value="put" />
  
  Name: <input type="text" name="product[name]" value="<%= @product.name %>" /><br />
  SKU: <input type="text" name="product[sku]" value="<%= @product.sku %>" /><br />
  
  Aisle: <input type="text" name="product[aisle]" value="<%= @product.aisle %>" /><br />
  Bin: <input type="text" name="product[bin]" value="<%= @product.bin %>" /><br />
  
  Inventory: <input type="text" name="product[inventory]" value="<%= @product.inventory %>" /><br />
  
  <input type="submit" value="Save" />
</form>
