<h1>Products</h1>

<a href="<%= url(:new_product) %>">Add Product</a>

<table id="products">
  <tr>
    <th>Name</th>
    <th>SKU</th>
    <th>Location</th>
    <th>Inventory</th>
    
    <th></th>
  </tr>
  <% @products.each do |product| %>
    <tr class="product">
      <td><a href="<%= url(:product, product.id) %>"><%= product.name %></a></td>
      <td><%= product.sku %></td>
      <td><%= product.aisle %>-<%= product.bin %></td>
      <td><%= product.inventory %></td>
      
      <td><a href="<%= url(:edit_product, product.id) %>">Edit</a></td>
    </tr>
  <% end %>
</table>
