<a href="<%= url(:products) %>">Back</a><br /><br />

<h1><%= @product.name %></h1>
<h3><%= @product.sku %></h3>

Location: <%= @product.aisle %>-<%= @product.bin %><br />
Inventory: <%= @product.inventory %><br />
